<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.instargram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/instargram"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Instargram">
        <activity android:name=".main_bottom.MyInformationActivity"></activity>
        <activity android:name=".main_bottom.ShopActivity" />
        <activity android:name=".main_bottom.PostActivity" />
        <activity android:name=".main_bottom.SearchActivity" />
        <activity android:name=".main_middle.MainDirectActivity" />
        <activity android:name=".main_middle.MainDoActivity" />
        <activity android:name=".main_middle.MainContentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>